/*SELECTORS in CSS*/
/*signle element selector*/
p{
    color: aqua;
}
a{
    color: aqua;
}
/*Multiple elements selector*/
p,a{
    color:aqua;
}
li{
    list-style-type: square;
}
/*class selector*/
.myclass{
    color: brown;
    font-weight: 200;
}
span.myclass{
    color: blue;
}
/*TYPES OF COMBINATORS IN CSS*/
          /*combinators define relation btw selectors*/
/*1.descendant com (space inside)*/
li em{
    color: darkgoldenrod;
}
/*2.adjacent sibling com(next element)*/
h1+p{
    font-size: 200%;
}
/*child com > select direct child not grandchilds*/
p > span{
    background-color: rgb(156, 25, 106);
}
/*general sibling com(~all next siblings)*/
h1~p{
    background-color: darkgray;
}
/*pseudo class selector almost used in links*/
a:hover{
    color: brown;
    background-color: antiquewhite;
    text-decoration: none;
}
/*combined selector pesudo class*/
body h1+p .special{
 background-color: rgb(229, 255, 0);
 color: rgb(0, 27, 100);
 padding: 5px;
}

 /*id selector*/
#unique{
    color: burlywood;
}
p#uni{
    background-color: cornsilk;
}
/*Attribute selector*/
li[class]{
    font-size: 20px;
}
li[id]{
    background-color: cadetblue;
}
/*everything/universal selector(*{...}*/
